html,
body {
	margin: 0;
	padding: 0;
	background-color: white;
	overflow-x: hidden;
}

/* Navbar header*/

.navbar {
	margin-bottom: 0;
	min-height: 46px;
	position: fixed;
	max-width: 99%;
	width: 2600px;
	left: 5px;
	right: 3px;
	border: unset;
	top: 0;
	z-index: 200;
	background-color: rgb(65, 216, 245);
	box-shadow: rgba(46, 51, 51, 0.12) 1px 7px 0px 0px, rgba(64, 62, 63, 0.23) 0px 0px 0px 0px, rgb(65, 216, 245) 0px 8px 13px 3px;
	-webkit-transition: all 2s ease-out;
	-moz-transition: all 2s ease-out;
	-o-transition: all 2s ease-out;
	transition: all 2s ease-out;
}

.navbar-default {
	border-color: unset;
}

.navbar-default .navbar-nav li a:hover {
	cursor: pointer;
	border-bottom: solid 2px #1976D2;
	text-decoration: none;
}

.list_right li {
	border-right: 3px solid #111;
}

.navbar-nav li a {
	padding-bottom: 0px;
	font-weight: bold;
	font-family: serif;
}

.card {
	background: url("../images/white.jpg");
	max-width: 98%;
	width: 2600px;
	height: auto;
	margin-top: 6px;
	margin-bottom: 22px;
	margin-right: auto;
	margin-left: auto;
	box-shadow: rgba(99, 97, 97, 0.89) 0px 0px 0px 0px, rgba(64, 62, 63, 0.09) 0px 0px 0px 0px, rgba(0, 0, 0, 0.52) 0px 0px 4px 2px;
}

.inside_card {
	padding-bottom: 45px;
	cursor: default;
}

.home {
	margin-top: 58px;
}

.home_image {
	margin-top: 13px;
}

.home_image img {
	margin-left: auto;
	margin-right: auto;
	width: 365px;
	height: 59%;
	margin-bottom: 18px;
	align-items: center;
	justify-content: center;
	display: flex;
	box-shadow: rgba(56, 72, 72, 0.24) -3px 7px 1px 0px, rgba(64, 62, 63, 0.36) -1px 11px 0px 0px, rgb(0, 0, 0) -2px 3px 0px 0px;

}

.home_info {
	margin-top: 72px;
	font-family: HomemadeApple-Regular;
	color: #ffffff;
}

.home_info .list_info {
	margin-bottom: 28px;
	background-color: #41d8f5;
	cursor: default;
	box-shadow: rgba(79, 97, 97, 0.04) -3px 7px 1px 0px, rgba(64, 62, 63, 0.09) -1px 11px 0px 0px, rgba(0, 0, 0, 0.17) -2px 3px 0px 0px;
}

.home_info .list_info .el_info_right {
	font-weight: bold;
	font-family: 'Kranky', cursive
}

span.el_info {
	margin-left: 20px;
	font-family: 'Trade Winds', cursive;
	font-weight: bold;
}

span.el_info_f {
	font-family: 'Indie Flower', cursive;
	font-weight: bold;
	letter-spacing: 5px;
}

.fa-square {
	padding-right: 1px;
	color: #e8e8f5;
	box-shadow: rgba(79, 97, 97, 0.08) -3px 7px 1px 0px, rgba(64, 62, 63, 0) -1px 11px 0px 0px, rgba(0, 0, 0, 0.39) -3px 1px 0px 0px;
}

.i_am {
	color: black;
	font-size: 22px;
	font-family: 'Indie Flower', cursive;
	font-weight: bold;
}

/* this style for word "Stack developer */

.fsd,
.wiiajtb,
.iase {
	display: block;
	margin-top: 35px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 9px;
	width: 372px;
	background-color: #41d8f5;
	color: #ffffff;
	font-family: 'Nosifer', cursive;
	font-weight: bold;
	font-size: 20px;
	/*	border-radius: 15% 15% 15% 15%;*/
	cursor: context-menu;
	box-shadow: rgba(79, 97, 97, 0.04) -3px 7px 1px 0px, rgba(64, 62, 63, 0.09) -1px 11px 0px 0px, rgba(0, 0, 0, 0.17) -2px 3px 0px 0px;
}


/*this for section of "I am Softwere Engineering*/

/*.iase {*/

/*this for section of "who is in journet to become*/

/*.wiiajtb {}*/

/* Fo header h2, h3 ,h4*/

.h_page {
	font-family: 'Indie Flower', cursive;
	font-weight: bolder;
	color: #00d6ff;
	margin-left: 70px;
	margin-right: auto;
	margin-bottom: 51px;
	margin-top: 22px;
	font-size: 25px;
	letter-spacing: 5px;
	position: relative;
}

.h_page::before {
	content: "";
	top: 110%;
	left: 10px;
	background-color: #1ebbbb;
	position: absolute;
	width: 119px;
	height: 3px;
	animation-delay: 0.2s;
}

.h_page::after {
	content: "";
	top: 132%;
	left: 29px;
	width: 115px;
	height: 3px;
	position: absolute;
	background-color: #41d8f5;
	animation: move-line 0.4s ease-out forwards;
	animation-delay: 0.1s;
}



/*Start style of page skills*/

.h_skills {
	padding-top: 17px;
	padding-bottom: 8px;
	margin-left: 47px;
}

.h_skills::after {
	top: 57px;
}

.h_skills::before {
	top: 51px;
}

.Experienced,
.Strong,
.Familliar {
	padding-left: 2px;
}

.font_h_skills {
	font-family: 'Indie Flower', cursive;
	color: #41d8f5;
	font-weight: bold;
}

.address {
	padding-bottom: 7px;
}


.address .address-header {
	display: inline-block;
}

.card .address .icon {
	padding-right: 10px;
	padding-left: 1px;
	margin-left: 5px;
	color: #41d8f5;

}


/*Start Ul of kills*/

.skills {
	width: auto;
	position: relative;
	padding: 9px 0;
	font-family: 'Exo', sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #0586ab;
}


.skills ul {
	padding-top: 12px;
}

.skills ul > li {
	margin-bottom: 57px;
	background: #fff;
	height: 5px;
	border-radius: 5px;
	border-left: 1px solid #fff;
	border-top: 5px solid #fff;
	border-right: 1px solid #fff;
	border-bottom: 5px solid #fff;
	padding-bottom: 2px;
}

.skills ul > li em {
	font-family: 'Indie Flower', cursive;
	font-size: 18px;
	position: relative;
	top: -30px;
	font-weight: bolder;
	padding-left: 8px;
}

.skills ul > li span {
	height: 4px;
	padding-top: 0px;
	background: #06c8fffa;
	position: absolute;
	box-shadow: -3px 0px 4px 3px rgb(26, 208, 243);
}

.skills .html5 {
	width: 90%;
	animation: html5 2s ease-out;
}

.skills .css3 {
	width: 92%;
	animation: css3 2s ease-out;
}

.skills .jquery {
	width: 90%;
	animation: jquery 2s ease-out;
}

.skills .node {
	width: 65%;
	animation: node 2s ease-out;
}

.skills .ajax {
	width: 87%;
	animation: ajax 2s ease-out;
}

.skills .php {
	width: 70%;
	animation: php 2s ease-out;
}

.skills .wordpress {
	width: 60%;
	animation: wordpress 2s ease-out;
}

.skills .java {
	width: 90%;
	animation: java 2s ease-out;
}

.skills .git {
	width: 85%;
	animation: git 2s ease-out;
}

.skills .bootstrap {
	width: 90%;
	animation: bootstrap 2s ease-out;
}

.skills .python {
	width: 20%;
	animation: python 2s ease-out;
}

.skills .sass {
	width: 40%;
	animation: sass 2s ease-out;
}

.skills .responsive {
	width: 90%;
	animation: responsive 2s ease-out;
}

.skills .teamwork {
	width: 70%;
	animation: teamwork 2s ease-out;
}

.skills .photoshop {
	width: 30%;
	animation: photoshop 2s ease-out;
}

@keyframes html5 {
	0% {
		width: 0px;
	}
	100% {
		width: 90%;
	}
}

@keyframes css3 {
	0% {
		width: 0px;
	}
	100% {
		width: 92%;
	}
}

@keyframes jquery {
	0% {
		width: 0px;
	}
	100% {
		width: 90%;
	}
}

@keyframes node {
	0% {
		width: 0px;
	}
	100% {
		width: 65%;
	}
}

@keyframes ajax {
	0% {
		width: 0px;
	}
	100% {
		width: 87%;
	}
}

@keyframes php {
	0% {
		width: 0px;
	}
	100% {
		width: 70%;
	}
}

@keyframes wordpress {
	0% {
		width: 0px;
	}
	100% {
		width: 60%;
	}
}

@keyframes java {
	0% {
		width: 0px;
	}
	100% {
		width: 90%;
	}
}

@keyframes git {
	0% {
		width: 0px;
	}
	100% {
		width: 85%;
	}
}

@keyframes bootstrap {
	0% {
		width: 0px;
	}
	100% {
		width: 90%;
	}
}

@keyframes python {
	0% {
		width: 0px;
	}
	100% {
		width: 20%;
	}
}

@keyframes sass {
	0% {
		width: 0px;
	}
	100% {
		width: 40%;
	}
}

@keyframes responsive {
	0% {
		width: 0px;
	}
	100% {
		width: 90%;
	}
}

@keyframes teamwork {
	0% {
		width: 0px;
	}
	100% {
		width: 70%;
	}
}

@keyframes photoshop {
	0% {
		width: 0px;
	}
	100% {
		width: 30%;
	}
}

.skills .last-li {
	margin-bottom: 35px;

}


/*End Ul of kills*/

/*Start of year-experienced*/

.y-experienced {
	margin-right: auto;
	margin-left: auto;
	margin-top: 27px;
	margin-bottom: 14px;
	padding-bottom: 7px;
	font-weight: bold;
	color: #0ac9ff;
}

.y-experienced div {
	display: inline;
	font-size: 24px;
	font-family: cursive;
}

.y-experienced div span {
	color: #e931f5;
	font-size: 25px;
	font-family: 'Fontdiner Swanky', cursive;
	letter-spacing: 3px;
}

.y-experienced .fas {
	padding-left: 9px;
}

/*End of year-experienced*/

.skills .tooltip-inner {
	background-color: #00baf5;
	color: white;

}

.skills .tooltip.top .tooltip-arrow {
	border-top-color: #00baf5;
}

/*End style of page skills*/

/*start style of page sevices*/

.card .address-services .services {
	text-align: center;
	padding-top: 24px;
}

.card .address-services .services .fas {
	display: inline;
	color: #41d8f5;
	font-size: 30px;
}

.card .address-services .services h2 {
	display: inline;
	color: #41d8f5;
	margin-left: 4px;
	font-weight: 500;
	font-family: 'Orbitron', sans-serif;
}

.address-services .h_page {
	margin-top: 30px;
	margin-left: 25px;
	padding-bottom: 37px;
	color: #38bdb8;
}

.address-services .h_page::before {
	top: 44%;
	left: 49px;
	width: 180px;
	background-color: #23b198;
}

.address-services .h_page::after {
	background-color: #0ac9ff;
	top: 64%;
	left: 84px;
	width: 169px;
}

.designer,
.developer {
	border: #cfd6d6f7 1px solid;
	height: 200px;
	margin-bottom: 22px;
	margin-left: 7px;
	border-radius: 7% 30% 7% 30%;
	margin-right: 7px;
	text-align: center;
	vertical-align: middle;
	line-height: 200px;
	background-color: #41d8f5;
	font-size: 25px;
	font-family: 'Mystery Quest', cursive;
	font-weight: bolder;
	color: mintcream;
	cursor: default;
	box-shadow: rgba(46, 51, 51, 0.12) -3px 7px 1px 0px, rgba(64, 62, 63, 0.23) -1px 11px 0px 0px, rgba(0, 0, 0, 0.44) -2px 3px 0px 0px;
}

.card-services {
	padding-top: 40px;
	padding-bottom: 47px;
}

.card-services .hire_me {
	text-align: center;
	margin-bottom: 8px;
	margin-top: 30px;

}

.card-services .hire_me .btn-group-lg > .btn {
	width: 160px;
	border-radius: 7% 30% 16% 20%;
	box-shadow: rgba(46, 51, 51, 0.12) -3px 7px 1px 0px, rgba(64, 62, 63, 0.23) -1px 11px 0px 0px, rgba(0, 0, 0, 0.44) -2px 3px 0px 0px;
}

.card-services .hire_me .btn-group-lg > .btn:hover {
	color: #41d8f5;
}

.btn-default {
	color: #f5fffa;
	background-color: #ff149387;
	border-color: #41d8f5;
	font-family: cursive;
}

/*Notice jBox */

.jBox-content,
.jBox-title {
	text-align: center;
	background: #ff149387;
	font-family: 'Orbitron', sans-serif;
	letter-spacing: 1px;
	color: #f5fffa;
}

/*End style of page sevices*/

/*Start page of Contact Me*/

.card-contact {
	padding-top: 20px;
	padding-bottom: 20px;
}

.card-contact .address {
	text-align: center;
	padding-top: 36px;
	padding-bottom: 36px;

}

.card-contact .address h2 {
	display: inline;
	color: #41d8f5;
	font-family: 'Orbitron', sans-serif;

}

.card-contact .address .fas {
	display: inline;
	padding-right: 7px;
	color: #41d8f5;
	font-size: 30px;
}

.card-contact .form-control {
	font-family: 'Orbitron', sans-serif;
	letter-spacing: 2px;
}

.card-contact .input-group {
	padding-bottom: 30px;
	padding-top: 8px;
}

.card-contact .name {
	padding-left: 15px;
}

.card-contact .phone {
	padding-right: 15px;
}

.card-contact .user {
	padding-left: 15px;
	padding-right: 15px;
}

.form-control {
	background-color: #ffffffc9;
	border: 1px solid #41d8f5;
	color: #41d8f5;
}

.input-group-addon {
	background-color: #4cd8f5;
	color: #fbfbfb;
	font-weight: bold;
}

.card-contact .message {
	margin-right: 15px;
	margin-left: 15px;
	margin-top: 3px;
}

.card-contact .message textarea {
	display: table-cell;
	position: relative;
	z-index: 2;
	float: left;
	width: 100%;
	height: 70px;
	padding: 6px 12px;
	font-family: 'Orbitron', sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #0780e8;
	background-color: #ffffffc9;
	background-image: none;
	border: 2px solid #41d8f5;
	border-radius: 4px 4px 4px 4px;
	resize: none;
	overflow-x: hidden;
}

.recapatcha-google {
	margin-top: 35px;
	margin-bottom: 35px;
	margin-right: 15px;
	margin-left: 15px;
	height: 20px;
	border: blue 2px solid;
}

.card-contact .send {
	margin-left: 130px;
	margin-right: 130px;
}

.card-contact .btn-send {
	width: 100%;
}


/*End page of Contact Me*/

/*S page of About*/

.card-about {
	padding-top: 20px;
	padding-bottom: 20px;
}

.card-about .address {
	text-align: center;
	padding-top: 35px;
	padding-bottom: 35px;
}

.card-about .address h2 {
	display: inline;
	color: #41d8f5;
	font-family: 'Orbitron', sans-serif;

}

.card-about .address .fas {
	display: inline;
	padding-right: 7px;
	color: #41d8f5;
	font-size: 30px;
}

.card-about .lots-paragraph .h-para {
	margin-bottom: 25px;
	font-family: monospace;
	color: cadetblue;
	padding-left: 15px;
}

.card-about .lots-paragraph .h-para .para {
	display: inline;
	padding-left: 2px;
}



.card-about .lots-paragraph .h-para p {
	display: inline;
}

.card-about .lots-paragraph .h-para .fas {
	padding-left: 5px;
	padding-right: 6px;
	color: deeppink;
}

.card-about .lots-paragraph .clean {
	margin-bottom: 35px;
	font-size: 25px;
	font-weight: bold;
	font-family: 'Fontdiner Swanky', cursive;
	letter-spacing: 2px;
	color: #36707b;
}

.card-about .lots-paragraph .clean span {
	color: #00baf5;
}

.card-about .lots-paragraph .tooltip-inner {
	background-color: unset;

}

.card-about .lots-paragraph .tooltip.top .tooltip-arrow {
	border-top-color: #00baf5;
}

/*S footer*/

.footer {
	margin-top: 45px;
	margin-bottom: 2px;
	width: 100%;
	height: 176px;
	border-top-left-radius: 31%;
	border-top: #5fa7b8 2px solid;
	border-top-right-radius: 87%;
	background-color: #0080a587;
	box-shadow: rgba(46, 51, 51, 0.12) 1px 7px 0px 0px, rgba(64, 62, 63, 0.23) 0px 0px 0px 0px, rgba(56, 175, 202, 0.41) -4px -1px 10px 4px;
}

.footer .icon-social-list {
	margin-top: 75px;
	margin-left: auto;
	margin-right: auto;
	width: 12em;
}

.footer .icon-social-list a {
	padding-right: 6px;
	padding-left: 6px;
}

.footer .icon-social-list i:hover {
	color: #e7e7e7;
}

.footer .copy-right {
	margin-top: 4px;
	font-size: 20px;
	font-family: monospace;
	letter-spacing: 1px;
	color: #31708f;
}

.footer .copy-right p .abdelrazek {
	font-family: 'Righteous', cursive;
	color: #f9f7f8;
	background-color: deeppink;
	text-shadow: 0 0 4px black;
}

.last-card {
	margin-bottom: 12px;
}



/*E footer*/

/*E page of About*/

/*Start media query*/

@media (max-width: 768px) {
	.navbar {
		border-radius: 0;
	}
	.navbar-nav li {
		margin-bottom: 11px;
	}
}

@media (min-width: 768px) {
	.navbar {
		border-radius: 0;
	}
}

@media (min-width: 1000px) {
	.fsd,
	.wiiajtb,
	.iase {
		width: 825px;
		font-size: 38px;
	}
	.home_info {
		font-size: 23px;
		border-left: #23b198 1px solid;
	}

	.fa-square {
		margin-left: 12px;
	}

	.home_info .list_info {
		margin-right: 35px;
	}

}



/*Start Media Query here*/

@media (max-width:1000px) {
	.home_info {
		font-size: 22px;
		border-left: #41d8f5 1px dashed;
	}
	.fsd,
	.wiiajtb,
	.iase {
		width: 791px;
		font-size: 36px;
	}

	.fa-square {
		margin-left: 12px;
	}
	.home_info .list_info {
		margin-right: 7px;
	}

	span.el_info {
		margin-left: 11px;

	}
}

@media (max-width:875px) {
	.home_info {
		font-size: 18px;
		border-left: #23b198 1px solid;
	}
	.fsd,
	.wiiajtb,
	.iase {
		width: 722px;
	}
	.home_info .list_info {
		margin-right: 7px;
	}
}

@media (max-width:766px) {
	.home_info {
		font-size: 24px;
		margin-left: 59px;
		margin-top: 20px;
	}

	.fsd,
	.wiiajtb,
	.iase {
		width: 630px;
		font-size: 30px;
	}

	.home_info .list_info {
		margin-right: 7px;
	}

}

@media (max-width:650px) {
	.home_info {
		font-size: 21px;
		margin-left: 59px;
		margin-top: 20px;
	}
	.fsd,
	.wiiajtb,
	.iase {
		width: 463px;
		font-size: 24px;
	}

	.home_info .list_info {
		margin-right: 7px;
	}

}

@media (max-width:500px) {
	.fa-square {
		padding-right: 9px;
		padding-left: 7px;
	}

	.home_info {
		font-size: 19px;
		margin-left: 9px;
	}
	span.el_info {
		margin-left: 7px;
	}
	.fsd,
	.wiiajtb,
	.iase {
		width: 351px;
		font-size: 24px;
	}
	.skills {
		margin-left: 27px;
		margin-right: 22px;
	}

}

@media (max-width:395px) {
	.fsd,
	.wiiajtb,
	.iase {
		width: 210px;
	}
	.home_image img {
		width: 238px;
	}

}

@media (max-width:395px) {
	.home_info {
		font-size: 16px;
		margin-left: unset;
	}
	.fa-square {
		margin-left: 0px;
	}
	span.el_info {
		margin-left: 4px;
	}


}

@media (max-width:332px) {
	.home_info {
		font-size: 14px;
		margin-left: 0px;
	}
}


/* Start Media query for second page of skills*/

@media screen and (min-width: 989px) {
	.Familliar {
		margin-right: 5px;
	}
	.Experienced {
		margin-left: 5px;
	}
}


@media (max-width: 990px) {
	.Strong .address {
		margin-right: 73px;
	}

	.Familliar .address {
		margin-right: 54px;
	}
	.Familliar,
	.Strong,
	.Experienced {
		margin-bottom: 5px;
	}
	.skills {
		margin-left: 88px;
		margin-right: 88px;
	}
	.skills .last-li {
		margin-bottom: 20px;
	}
}



@media (max-width:585px) {
	.skills {
		margin-left: 27px;
		margin-right: 22px;
	}

}

@media (max-width:332px) {
	.skills {
		margin-left: 5px;
		margin-right: 5px;
	}
}


/* End Media query for second page of skills*/

/*Start Media query for third page of services*/

@media screen and (min-width:767px) {
	.designer,
	.developer {
		margin-top: 35px;
		margin-bottom: 50px;
		font-size: 40px;
	}
}

@media screen and (max-width:767px) {
	.designer,
	.developer {
		font-size: 54px;
	}
}

@media screen and (max-width:500px) {
	.address-services .h_page {
		font-size: 22px;
		letter-spacing: 0;
	}
	.address-services .h_page::before {
		top: 44%;
		left: 49px;
		width: 92px
	}
	.address-services .h_page::after {
		top: 64%;
		left: 58px;
		width: 92px;
	}

	.designer,
	.developer {
		margin-left: 7px;
		margin-right: 7px;
		font-size: 40px;
	}

}

@media screen and (max-width:332px) {
	.designer,
	.developer {
		font-weight: bolder;
		font-size: 25px;
	}
}


/*End Media query for third page of services*/

/*Start query of fourth page of Contact Me*/

@media screen and (max-width:767px) {
	.card-contact .name,
	.card-contact .phone {
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media screen and (max-width:600px) {
	.card-contact .message textarea {
		height: 130px;
	}
}

/*End query of fourth page of Contact Me*/

/*S query of five page of about*/

@media screen and (max-width:674px) {
	.card-about .lots-paragraph .clean span {
		visibility: hidden;
	}
}

@media screen and (max-width:670px) {
	.footer .copy-right .right {
		display: none;
	}
}

/*E query of five page of about*/

/*End media query*/
