html,
body {
	margin: 0;
	padding: 0;
	background-color: rgb(222, 222, 221);
	overflow-x: hidden;
}

/* Navbar header*/

.navbar {
	margin-bottom: 0;
	min-height: 46px;
}

.navbar-default .navbar-nav li a:hover {
	cursor: pointer;
	border-bottom: solid 2px #1976D2;
	text-decoration: none;
}

.list_right li {
	border-right: 3px solid #111;
}

.navbar-nav li a {
	padding-bottom: 0px;
	font-weight: bold;
	font-family: serif;
}

.card {
	background: url("../images/white.jpg");
	max-width: 98%;
	width: 2600px;
	margin-top: 6px;
	margin-bottom: 6px;
	margin-right: auto;
	margin-left: auto;
	height: auto;
	box-shadow: 0 6px 6px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
}

.inside_card {
	padding-bottom: 13px;
	cursor: default;
}

.home {
	margin-top: 10px;
}

.home_image {
	margin-top: 13px;
}

.home_image img {
	margin-left: auto;
	margin-right: auto;
	width: 365px;
	height: 59%;
	margin-bottom: 18px;
	align-items: center;
	justify-content: center;
	display: flex;
	background-color: #e8e8f5;
	box-shadow: rgba(56, 72, 72, 0.24) -3px 7px 1px 0px, rgba(64, 62, 63, 0.36) -1px 11px 0px 0px, rgb(0, 0, 0) -2px 3px 0px 0px;

}

.home_info {
	margin-top: 72px;
	font-family: HomemadeApple-Regular;
	color: #23b198;
}

.home_info .list_info {
	margin-bottom: 28px;
	background-color: #e8e8f5;
	cursor: context-menu;
}

.home_info .list_info .el_info_right {
	font-weight: bold;
	font-family: 'Kranky', cursive
}

span.el_info {
	margin-left: 20px;
	font-family: 'Trade Winds', cursive;
	font-weight: bold;
}

span.el_info_f {
	font-family: 'Indie Flower', cursive;
	font-weight: bold;
	letter-spacing: 5px;
}

.fa-square {
	padding-right: 1px;
	color: #e8e8f5;
	box-shadow: rgba(79, 97, 97, 0.08) -3px 7px 1px 0px, rgba(64, 62, 63, 0) -1px 11px 0px 0px, rgba(0, 0, 0, 0.39) -3px 1px 0px 0px;
}

.i_am {
	color: black;
	font-size: 22px;
	font-family: 'Indie Flower', cursive;
	font-weight: bold;
}

/* this style for word "Stack developer */

.fsd,
.wiiajtb,
.iase {
	display: block;
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 9px;
	width: 372px;
	background-color: #e8e8f5;
	color: #23b198;
	font-family: 'Nosifer', cursive;
	font-weight: bold;
	font-size: 20px;
	border-radius: 21% 27% 32% 20%;
	cursor: context-menu;
	box-shadow: rgba(79, 97, 97, 0.04) -3px 7px 1px 0px, rgba(64, 62, 63, 0.09) -1px 11px 0px 0px, rgba(0, 0, 0, 0.17) -2px 3px 0px 0px;
}


/*this for section of "I am Softwere Engineering*/

/*.iase {*/

/*this for section of "who is in journet to become*/

/*.wiiajtb {}*/

/* Fo header h2, h3 ,h4*/

.h_page {
	font-family: 'Indie Flower', cursive;
	font-weight: bold;
	color: #38bdb8;
	margin-left: 70px;
	margin-right: auto;
	margin-bottom: 32px;
	margin-top: 23px;
	font-size: 25px;
	letter-spacing: 5px;
	position: relative;
}

.h_page::before {
	content: "";
	top: 110%;
	left: 10px;
	background-color: #c2c7c1;
	position: absolute;
	width: 119px;
	height: 3px;
	animation-delay: 0.2s;
}

.h_page::after {
	content: "";
	top: 132%;
	left: 29px;
	width: 115px;
	height: 3px;
	position: absolute;
	background-color: #f2dede;
	animation: move-line 0.4s ease-out forwards;
	animation-delay: 0.1s;
}










/*Start media query*/

@media (max-width: 768px) {
	.navbar {
		border-radius: 0;
	}
	.navbar-nav li {
		margin-bottom: 11px;
	}
}

@media (min-width: 768px) {
	.navbar {
		border-radius: 0;
	}
}

@media (min-width: 1000px) {
	.fsd,
	.wiiajtb,
	.iase {
		width: 825px;
		font-size: 38px;
	}
	.home_info {
		font-size: 23px;
		border-left: #23b198 1px solid;
	}

	.fa-square {
		margin-left: 12px;
	}

	.home_info .list_info {
		margin-right: 35px;
	}

}

/*Start style of page skills*/

.h_skills {
	padding-top: 17px;
	padding-bottom: 8px;
	margin-left: 47px;
}

.h_skills::after {
	top: 57px;
}

.h_skills::before {
	top: 51px;
}

.Experienced,
.Strong,
.Familliar {
	padding-left: 2px;
}

.font_h_skills {
	font-family: 'Indie Flower', cursive;
	color: #23b198;
}

.address {
	padding-bottom: 7px;
}


.address .address-header {
	display: inline-block;
}

.card .address .icon {
	padding-right: 10px;
	padding-left: 1px;
	margin-left: 5px;
	color: #41d8f5;

}


/*Start Ul of kills*/

.skills {
	width: auto;
	position: relative;
	padding: 9px 0;
	font-family: 'Exo', sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #0586ab;
}


.skills ul {
	padding-top: 12px;
}

.skills ul > li {
	margin-bottom: 57px;
	background: #f2f2f2;
	height: 5px;
	border-radius: 5px;
	border-left: 1px solid #fff;
	border-top: 5px solid #fff;
	border-right: 1px solid #fff;
	border-bottom: 5px solid #fff;
	padding-bottom: 2px;
}

.skills ul > li em {
	font-family: 'Indie Flower', cursive;
	font-size: 18px;
	position: relative;
	top: -30px;
	font-weight: bolder;
	padding-left: 8px;
}

.skills ul > li span {
	height: 4px;
	padding-top: 0px;
	background: #06c8fffa;
	position: absolute;
	box-shadow: -3px 0px 4px 3px rgb(26, 208, 243);
}

.skills .html5 {
	width: 90%;
	animation: html5 2s ease-out;
}

.skills .css3 {
	width: 92%;
	animation: css3 2s ease-out;
}

.skills .jquery {
	width: 90%;
	animation: jquery 2s ease-out;
}

.skills .node {
	width: 65%;
	animation: node 2s ease-out;
}

.skills .ajax {
	width: 87%;
	animation: ajax 2s ease-out;
}

.skills .php {
	width: 70%;
	animation: php 2s ease-out;
}

.skills .wordpress {
	width: 60%;
	animation: wordpress 2s ease-out;
}

.skills .java {
	width: 90%;
	animation: java 2s ease-out;
}

.skills .git {
	width: 85%;
	animation: git 2s ease-out;
}

.skills .bootstrap {
	width: 90%;
	animation: bootstrap 2s ease-out;
}

.skills .python {
	width: 20%;
	animation: python 2s ease-out;
}

.skills .sass {
	width: 40%;
	animation: sass 2s ease-out;
}

.skills .responsive {
	width: 90%;
	animation: responsive 2s ease-out;
}

.skills .teamwork {
	width: 70%;
	animation: teamwork 2s ease-out;
}

.skills .photoshop {
	width: 30%;
	animation: photoshop 2s ease-out;
}

@keyframes html5 {
	0% {
		width: 0px;
	}
	100% {
		width: 90%;
	}
}

@keyframes css3 {
	0% {
		width: 0px;
	}
	100% {
		width: 92%;
	}
}

@keyframes jquery {
	0% {
		width: 0px;
	}
	100% {
		width: 90%;
	}
}

@keyframes node {
	0% {
		width: 0px;
	}
	100% {
		width: 65%;
	}
}

@keyframes ajax {
	0% {
		width: 0px;
	}
	100% {
		width: 87%;
	}
}

@keyframes php {
	0% {
		width: 0px;
	}
	100% {
		width: 70%;
	}
}

@keyframes wordpress {
	0% {
		width: 0px;
	}
	100% {
		width: 60%;
	}
}

@keyframes java {
	0% {
		width: 0px;
	}
	100% {
		width: 90%;
	}
}

@keyframes git {
	0% {
		width: 0px;
	}
	100% {
		width: 85%;
	}
}

@keyframes bootstrap {
	0% {
		width: 0px;
	}
	100% {
		width: 90%;
	}
}

@keyframes python {
	0% {
		width: 0px;
	}
	100% {
		width: 20%;
	}
}

@keyframes sass {
	0% {
		width: 0px;
	}
	100% {
		width: 40%;
	}
}

@keyframes responsive {
	0% {
		width: 0px;
	}
	100% {
		width: 90%;
	}
}

@keyframes teamwork {
	0% {
		width: 0px;
	}
	100% {
		width: 70%;
	}
}

@keyframes photoshop {
	0% {
		width: 0px;
	}
	100% {
		width: 30%;
	}
}

.skills .last-li {
	margin-bottom: 35px;

}


/*End Ul of kills*/

/*Start of year-experienced*/

.y-experienced {
	margin-right: auto;
	margin-left: auto;
	margin-top: 2px;
	margin-bottom: 14px;
	padding-bottom: 7px;
	font-weight: bold;
	color: #0ac9ff;
}

.y-experienced div {
	display: inline;
	font-size: 24px;
	font-family: cursive;
}

.y-experienced div span {
	color: #e931f5;
	font-size: 25px;
	font-family: 'Fontdiner Swanky', cursive;
	letter-spacing: 3px;
}

.y-experienced .fas {
	padding-left: 9px;
}

/*End of year-experienced*/

/*End style of page skills*/

/*Start Media Query here*/

@media (max-width:1000px) {
	.home_info {
		font-size: 22px;
		border-left: #23b198 1px solid;
	}
	.fsd,
	.wiiajtb,
	.iase {
		width: 791px;
		font-size: 36px;
	}

	.fa-square {
		margin-left: 12px;
	}
	.home_info .list_info {
		margin-right: 7px;
	}

	span.el_info {
		margin-left: 11px;

	}
}

@media (max-width:875px) {
	.home_info {
		font-size: 18px;
		border-left: #23b198 1px solid;
	}
	.fsd,
	.wiiajtb,
	.iase {
		width: 722px;
	}
	.home_info .list_info {
		margin-right: 7px;
	}
}

@media (max-width:766px) {
	.home_info {
		font-size: 24px;
		margin-left: 59px;
		margin-top: 20px;
	}

	.fsd,
	.wiiajtb,
	.iase {
		width: 630px;
		font-size: 30px;
	}

	.home_info .list_info {
		margin-right: 7px;
	}

}

@media (max-width:650px) {
	.home_info {
		font-size: 21px;
		margin-left: 59px;
		margin-top: 20px;
	}
	.fsd,
	.wiiajtb,
	.iase {
		width: 463px;
		font-size: 24px;
	}

	.home_info .list_info {
		margin-right: 7px;
	}

}

@media (max-width:500px) {
	.fa-square {
		padding-right: 9px;
		padding-left: 7px;
	}

	.home_info {
		font-size: 19px;
		margin-left: 9px;
	}
	span.el_info {
		margin-left: 7px;
	}
	.fsd,
	.wiiajtb,
	.iase {
		width: 351px;
		font-size: 24px;
	}
	.skills {
		margin-left: 27px;
		margin-right: 22px;
	}

}

@media (max-width:395px) {
	.fsd,
	.wiiajtb,
	.iase {
		width: 210px;
	}
	.home_image img {
		width: 238px;
	}

}

@media (max-width:395px) {
	.home_info {
		font-size: 16px;
		margin-left: unset;
	}
	.fa-square {
		margin-left: 0px;
	}
	span.el_info {
		margin-left: 4px;
	}


}

@media (max-width:332px) {
	.home_info {
		font-size: 14px;
		margin-left: 0px;
	}
}


/*Media query for second page of skills*/

@media screen and (min-width: 989px) {
	.Familliar {
		margin-right: 5px;
	}
	.Experienced {
		margin-left: 5px;
	}
}


@media (max-width: 990px) {
	.Strong .address {
		margin-right: 73px;
	}

	.Familliar .address {
		margin-right: 54px;
	}
	.Familliar,
	.Strong,
	.Experienced {
		margin-bottom: 5px;
	}
	.skills {
		margin-left: 88px;
		margin-right: 88px;
	}
	.skills .last-li {
		margin-bottom: 20px;
	}
}



@media (max-width:585px) {
	.skills {
		margin-left: 27px;
		margin-right: 22px;
	}

}

@media (max-width:332px) {
	.skills {
		margin-left: 5px;
		margin-right: 5px;
	}
}


/*Media query for second page of skills*/

/*End media query*/
