html,
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
	overflow: hidden;
}

/* Navbar header*/

.navbar {
	margin-bottom: 0;
	min-height: 38px;
	position: fixed;
	max-width: 99%;
	left: 5px;
	width: 2600px;
	right: 3px;
	border: unset;
	top: 0;
	z-index: 200;
	-webkit-transition: all 2s ease-out;
	-moz-transition: all 2s ease-out;
	-o-transition: all 2s ease-out;
	transition: all 2s ease-out;
}



.navbar-default {
	border-color: unset;
}

.navbar-header .navbar-brand,
.navbar-default .navbar-brand:focus {
	font-family: 'Knewave', cursive;
	letter-spacing: 5px;
}


.navbar-nav li a {
	padding-bottom: 0px;
	font-weight: bold;
	font-family: serif;
}

.navbar-default .navbar-nav li a {
	font-weight: bold;
	letter-spacing: 2px;
}


.navbar-default .navbar-nav li a:hover {
	cursor: pointer;
	text-decoration: none;
	background-color: unset;
}


.card {
	max-width: 98%;
	width: 2600px;
	height: auto;
	margin-top: 6px;
	margin-bottom: 22px;
	margin-right: auto;
	margin-left: auto;
	overflow-y: hidden;
	overflow-x: hidden;
	box-shadow: rgba(99, 97, 97, 0.89) 0px 0px 0px 0px, rgba(64, 62, 63, 0.09) 0px 0px 0px 0px, rgba(0, 0, 0, 0.52) 0px 0px 4px 2px;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}

.inside_card {
	padding-bottom: 45px;
	cursor: default;
}

.home {
	margin-top: 58px;
}

.home_image {
	margin-top: 37px;
}

.img-circle {
    border-radius: 15%;
}
.home_image img {
	margin-left: auto;
	margin-right: auto;
	width: 365px;
	height: 59%;
	margin-bottom: 18px;
	align-items: center;
	justify-content: center;
	display: flex;
}

.home_info {
	margin-top: 72px;
	font-family: HomemadeApple-Regular;
}

.home_info .list_info {
    margin-bottom: 72px;
	cursor: default;
}

.home_info .list_info .el_info_right {
	font-weight: bold;
	font-family: 'Kranky', cursive
}

span.el_info {
	margin-left: 20px;
	font-family: 'Trade Winds', cursive;
	font-weight: bold;
}

span.el_info_f {
	font-family: 'Indie Flower', cursive;
	font-weight: bold;
	letter-spacing: 5px;
}

.fa-square {
	padding-right: 1px;
}

.i_am {
	font-size: 22px;
	font-family: 'Indie Flower', cursive;
	font-weight: bold;
}

/* this style for word "Stack developer */

.fsd,
.wiiajtb,
.iase {
	display: block;
	margin-top: 35px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 9px;
	width: 372px;
	font-family: 'Orbitron', sans-serif;
    letter-spacing: 5px;
	font-weight: bold;
	font-size: 20px;
	/*	border-radius: 15% 15% 15% 15%;*/
	cursor: context-menu;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}


/*this for section of "I am Softwere Engineering*/

/*.iase {*/

/*this for section of "who is in journet to become*/

/*.wiiajtb {}*/

/* Fo header h2, h3 ,h4*/

.h_page {
	font-family: 'Indie Flower', cursive;
	font-weight: bolder;
	margin-left: 70px;
	margin-right: auto;
	margin-bottom: 51px;
	margin-top: 22px;
	font-size: 25px;
	letter-spacing: 5px;
	position: relative;
}

.h_page::before {
	content: "";
	top: 110%;
	left: 10px;
	position: absolute;
	width: 119px;
	height: 3px;
	animation-delay: 0.2s;
}

.h_page::after {
	content: "";
	top: 132%;
	left: 29px;
	width: 115px;
	height: 3px;
	position: absolute;
	animation: move-line 0.4s ease-out forwards;
	animation-delay: 0.1s;
}



/*Start style of page skills*/

.h_skills {
	padding-top: 17px;
	padding-bottom: 8px;
	margin-left: 47px;
}

.h_skills::after {
	top: 57px;
}

.h_skills::before {
	top: 51px;
}

.Experienced,
.Strong,
.Familliar {
	padding-left: 2px;
}

.font_h_skills {
	font-family: 'Indie Flower', cursive;
	font-weight: bold;
}

.address {
	padding-bottom: 7px;
}


.address .address-header {
	display: inline-block;
}

.card .address .icon {
	padding-right: 10px;
	padding-left: 1px;
	margin-left: 5px;
}

.skills .html5 {
	width: 90%;
	animation: html5 2s ease-out;
}

.skills .css3 {
	width: 92%;
	animation: css3 2s ease-out;
}

.skills .jquery {
	width: 90%;
	animation: jquery 2s ease-out;
}

.skills .node {
	width: 65%;
	animation: node 2s ease-out;
}

.skills .ajax {
	width: 87%;
	animation: ajax 2s ease-out;
}

.skills .php {
	width: 70%;
	animation: php 2s ease-out;
}

.skills .wordpress {
	width: 60%;
	animation: wordpress 2s ease-out;
}

.skills .java {
	width: 90%;
	animation: java 2s ease-out;
}

.skills .git {
	width: 85%;
	animation: git 2s ease-out;
}

.skills .bootstrap {
	width: 90%;
	animation: bootstrap 2s ease-out;
}

.skills .python {
	width: 20%;
	animation: python 2s ease-out;
}

.skills .sass {
	width: 40%;
	animation: sass 2s ease-out;
}

.skills .responsive {
	width: 90%;
	animation: responsive 2s ease-out;
}

.skills .teamwork {
	width: 70%;
	animation: teamwork 2s ease-out;
}

.skills .photoshop {
	width: 30%;
	animation: photoshop 2s ease-out;
}

@keyframes html5 {
	0% {
		width: 0px;
	}
	100% {
		width: 90%;
	}
}

@keyframes css3 {
	0% {
		width: 0px;
	}
	100% {
		width: 92%;
	}
}

@keyframes jquery {
	0% {
		width: 0px;
	}
	100% {
		width: 90%;
	}
}

@keyframes node {
	0% {
		width: 0px;
	}
	100% {
		width: 65%;
	}
}

@keyframes ajax {
	0% {
		width: 0px;
	}
	100% {
		width: 87%;
	}
}

@keyframes php {
	0% {
		width: 0px;
	}
	100% {
		width: 70%;
	}
}

@keyframes wordpress {
	0% {
		width: 0px;
	}
	100% {
		width: 60%;
	}
}

@keyframes java {
	0% {
		width: 0px;
	}
	100% {
		width: 90%;
	}
}

@keyframes git {
	0% {
		width: 0px;
	}
	100% {
		width: 85%;
	}
}

@keyframes bootstrap {
	0% {
		width: 0px;
	}
	100% {
		width: 90%;
	}
}

@keyframes python {
	0% {
		width: 0px;
	}
	100% {
		width: 20%;
	}
}

@keyframes sass {
	0% {
		width: 0px;
	}
	100% {
		width: 40%;
	}
}

@keyframes responsive {
	0% {
		width: 0px;
	}
	100% {
		width: 90%;
	}
}

@keyframes teamwork {
	0% {
		width: 0px;
	}
	100% {
		width: 70%;
	}
}

@keyframes photoshop {
	0% {
		width: 0px;
	}
	100% {
		width: 30%;
	}
}

.skills .last-li {
	margin-bottom: 35px;
}


/*End Ul of kills*/

/*Start of year-experienced*/

.y-experienced {
	margin-right: auto;
	margin-left: auto;
	margin-top: 27px;
	margin-bottom: 14px;
	padding-bottom: 7px;
	font-weight: bold;
}

.y-experienced div {
	display: inline;
	font-size: 24px;
	font-family: cursive;
}

.y-experienced div span {
	font-size: 25px;
	font-family: 'Fontdiner Swanky', cursive;
	letter-spacing: 3px;
}

.y-experienced .fas {
	padding-left: 9px;
}

/*End of year-experienced*/

/*End style of page skills*/

/*start style of page sevices*/

.card .address-services .services {
	text-align: center;
	padding-top: 24px;
}

.card .address-services .services .fas {
	display: inline;
	font-size: 30px;
}

.card .address-services .services h2 {
	display: inline;
	margin-left: 4px;
	font-weight: 500;
	font-family: 'Orbitron', sans-serif;
}

.address-services .h_page {
	margin-top: 30px;
	margin-left: 25px;
	padding-bottom: 37px;
}

.address-services .h_page::before {
	top: 44%;
	left: 49px;
	width: 180px;
}

.address-services .h_page::after {
	top: 64%;
	left: 84px;
	width: 169px;
}

.designer,
.developer {
	height: 200px;
	margin-bottom: 22px;
	margin-left: 7px;
	border-radius: 7% 30% 7% 30%;
	margin-right: 7px;
	text-align: center;
	vertical-align: middle;
	line-height: 200px;
	font-size: 25px;
	font-family: 'Mystery Quest', cursive;
	font-weight: bolder;
	cursor: default;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}

.card-services {
	padding-top: 40px;
	padding-bottom: 47px;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}

.card-services .hire_me {
	text-align: center;
	margin-bottom: 8px;
	margin-top: 30px;

}

.card-services .hire_me .btn-group-lg > .btn {
	width: 160px;
	border-radius: 7% 30% 16% 20%;
}


.btn-default {
	font-family: cursive;
}

/*Notice jBox */

.jBox-content,
.jBox-title {
	text-align: center;
	font-family: 'Orbitron', sans-serif;
	letter-spacing: 1px;
}

/*End style of page sevices*/

/*Start page of Contact Me*/

.card-contact {
	padding-top: 20px;
	padding-bottom: 20px;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}

.card-contact .address {
	text-align: center;
	padding-top: 36px;
	padding-bottom: 36px;

}

.card-contact .address h2 {
	display: inline;
	font-family: 'Orbitron', sans-serif;

}

.card-contact .address .fas {
	display: inline;
	padding-right: 7px;
	font-size: 30px;
}

.card-contact .form-control {
	font-family: 'Orbitron', sans-serif;
	letter-spacing: 2px;
}

.card-contact .input-group {
	padding-bottom: 30px;
	padding-top: 8px;
}

.card-contact .name {
	padding-left: 15px;
}

.card-contact .phone {
	padding-right: 15px;
}

.card-contact .user {
	padding-left: 15px;
	padding-right: 15px;
}


.input-group-addon {
	font-weight: bold;
}

.card-contact .message {
	margin-right: 15px;
	margin-left: 15px;
	margin-top: 3px;
}

.card-contact .message textarea {
	display: table-cell;
	position: relative;
	z-index: 2;
	float: left;
	width: 100%;
	height: 70px;
	padding: 6px 12px;
	font-family: 'Orbitron', sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 4px 4px 4px 4px;
	resize: none;
	overflow-x: hidden;
}

.recapatcha-google {
	margin-left: auto;
	margin-right: auto;
	width: 22em;
	margin-top: 23px;
	margin-bottom: 13px;
}

.alert-message {
	display: none;
	margin-top: 45px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 21.5em;
}

.card-contact .send {
	margin-left: auto;
	margin-right: auto;
	width: 21.5em;
}

.card-contact .btn-send {
	display: inline;
	width: 100%;
}

.image-loading {
	position: fixed;
	display: none;
	z-index: 200;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.image-loading img {
	justify-content: center;
	top: 50%;
	display: flex;
	margin: auto;
	margin-top: 212px;
}

.image-loading h3 {
	color: #333;
	margin-top: -53px;
}

/*End page of Contact Me*/

/*S page of About*/

.card-about {
	padding-top: 20px;
	padding-bottom: 20px;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}

.card-about .address {
	text-align: center;
	padding-top: 35px;
	padding-bottom: 35px;
}

.card-about .address h2 {
	display: inline;
	font-family: 'Orbitron', sans-serif;

}

.card-about .address .fas {
	display: inline;
	padding-right: 7px;
	font-size: 30px;
}

.card-about .lots-paragraph .h-para {
	margin-bottom: 25px;
	font-family: monospace;
	padding-left: 15px;
}

.card-about .lots-paragraph .h-para .para {
	display: inline;
	padding-left: 2px;
}



.card-about .lots-paragraph .h-para p {
	display: inline;
}

.card-about .lots-paragraph .h-para .fas {
	padding-left: 5px;
	padding-right: 6px;
}

.card-about .lots-paragraph .clean {
	margin-bottom: 35px;
	font-size: 25px;
	font-weight: bold;
	font-family: 'Fontdiner Swanky', cursive;
	letter-spacing: 2px;
}

/*S footer*/

.footer {
	margin-top: 45px;
	margin-bottom: 2px;
	width: 100%;
	height: 176px;
	border-top-left-radius: 31%;
	border-top-right-radius: 87%;
}

.footer .icon-social-list {
	margin-top: 75px;
	margin-left: auto;
	margin-right: auto;
	width: 12em;
}

.footer .icon-social-list a {
	padding-right: 6px;
	padding-left: 6px;
}



.footer .copy-right {
	margin-top: 4px;
	font-size: 20px;
	font-family: monospace;
	letter-spacing: 1px;
}

.footer .copy-right p .abdelrazek {
	font-family: 'Righteous', cursive;
}

.last-card {
	margin-bottom: 12px;
}

/*E footer*/

/*E page of About*/

/*preloader*/

#preloader {
	position: fixed;
	width: 100%;
	background: rgb(16, 16, 16);
	height: 100%;
	z-index: 99999999999;

}

#loader {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 175px;
	height: 175px;
	margin: auto;
}

#loader .dot {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 87.5px;
	height: 100%;
	margin: auto;
}

#loader .dot:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 87.5px;
	height: 87.5px;
	border-radius: 100%;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
}

#loader .dot:nth-child(7n+1) {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

#loader .dot:nth-child(7n+1):before {
	background: #00ff80;
	-webkit-animation: load 0.8s linear 0.1s infinite;
	-moz-animation: load 0.8s linear 0.1s infinite;
	-ms-animation: load 0.8s linear 0.1s infinite;
	-o-animation: load 0.8s linear 0.1s infinite;
	animation: load 0.8s linear 0.1s infinite;
}

#loader .dot:nth-child(7n+2) {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

#loader .dot:nth-child(7n+2):before {
	background: #00ffea;
	-webkit-animation: load 0.8s linear 0.2s infinite;
	-moz-animation: load 0.8s linear 0.2s infinite;
	-ms-animation: load 0.8s linear 0.2s infinite;
	-o-animation: load 0.8s linear 0.2s infinite;
	animation: load 0.8s linear 0.2s infinite;
}

#loader .dot:nth-child(7n+3) {
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}

#loader .dot:nth-child(7n+3):before {
	background: #00aaff;
	-webkit-animation: load 0.8s linear 0.3s infinite;
	-moz-animation: load 0.8s linear 0.3s infinite;
	-ms-animation: load 0.8s linear 0.3s infinite;
	-o-animation: load 0.8s linear 0.3s infinite;
	animation: load 0.8s linear 0.3s infinite;
}

#loader .dot:nth-child(7n+4) {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

#loader .dot:nth-child(7n+4):before {
	background: #0040ff;
	-webkit-animation: load 0.8s linear 0.4s infinite;
	-moz-animation: load 0.8s linear 0.4s infinite;
	-ms-animation: load 0.8s linear 0.4s infinite;
	-o-animation: load 0.8s linear 0.4s infinite;
	animation: load 0.8s linear 0.4s infinite;
}

#loader .dot:nth-child(7n+5) {
	-webkit-transform: rotate(225deg);
	-moz-transform: rotate(225deg);
	-ms-transform: rotate(225deg);
	-o-transform: rotate(225deg);
	transform: rotate(225deg);
}

#loader .dot:nth-child(7n+5):before {
	background: #2a00ff;
	-webkit-animation: load 0.8s linear 0.5s infinite;
	-moz-animation: load 0.8s linear 0.5s infinite;
	-ms-animation: load 0.8s linear 0.5s infinite;
	-o-animation: load 0.8s linear 0.5s infinite;
	animation: load 0.8s linear 0.5s infinite;
}

#loader .dot:nth-child(7n+6) {
	-webkit-transform: rotate(270deg);
	-moz-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	transform: rotate(270deg);
}

#loader .dot:nth-child(7n+6):before {
	background: #9500ff;
	-webkit-animation: load 0.8s linear 0.6s infinite;
	-moz-animation: load 0.8s linear 0.6s infinite;
	-ms-animation: load 0.8s linear 0.6s infinite;
	-o-animation: load 0.8s linear 0.6s infinite;
	animation: load 0.8s linear 0.6s infinite;
}

#loader .dot:nth-child(7n+7) {
	-webkit-transform: rotate(315deg);
	-moz-transform: rotate(315deg);
	-ms-transform: rotate(315deg);
	-o-transform: rotate(315deg);
	transform: rotate(315deg);
}

#loader .dot:nth-child(7n+7):before {
	background: magenta;
	-webkit-animation: load 0.8s linear 0.7s infinite;
	-moz-animation: load 0.8s linear 0.7s infinite;
	-ms-animation: load 0.8s linear 0.7s infinite;
	-o-animation: load 0.8s linear 0.7s infinite;
	animation: load 0.8s linear 0.7s infinite;
}

#loader .dot:nth-child(7n+8) {
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
}

#loader .dot:nth-child(7n+8):before {
	background: #ff0095;
	-webkit-animation: load 0.8s linear 0.8s infinite;
	-moz-animation: load 0.8s linear 0.8s infinite;
	-ms-animation: load 0.8s linear 0.8s infinite;
	-o-animation: load 0.8s linear 0.8s infinite;
	animation: load 0.8s linear 0.8s infinite;
}

#loader .lading {
	background-image: url(../images/loading.gif);
	background-repeat: no-repeat;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -40px;
	height: 20px;
	width: 180px;
	background-position: 50% 50%;
}

@-webkit-keyframes load {
	100% {
		opacity: 0;
		-webkit-transform: scale(1);
	}
}

@-moz-keyframes load {
	100% {
		opacity: 0;
		-moz-transform: scale(1);
	}
}

@-ms-keyframes load {
	100% {
		opacity: 0;
		-ms-transform: scale(1);
	}
}

@-o-keyframes load {
	100% {
		opacity: 0;
		-o-transform: scale(1);
	}
}

@keyframes load {
	100% {
		opacity: 0;
		transform: scale(1);
	}
}

/* 10 - Preloader End
---------------------------------------------------------------------- */
