/*Start media query*/
@media (min-width: 1000px) {
	/*page home*/
	.fsd, 
	.wiiajtb,
	.iase {
		width: 825px;
		font-size: 38px;
	}
	.home_info {
		font-size: 23px;
		border-left: #23b198 1px solid;
	}

	.fa-square {
		margin-left: 12px;
	}

	.home_info .list_info {
		margin-right: 35px;
	}

}
@media (max-width:1000px) {
	/*Page home*/
	.home_info {
		font-size: 22px;
		border-left: #41d8f5 1px dashed;
	}
	.fsd,
	.wiiajtb,
	.iase {
		width: 791px;
		font-size: 36px;
	}

	.fa-square {
		margin-left: 12px;
	}
	.home_info .list_info {
		margin-right: 7px;
	}

	span.el_info {
		margin-left: 11px;

	}
}

@media (max-width: 990px) {
	/*page skills*/
	.Strong .address {
		margin-right: 73px;
	}

	.Familliar .address {
		margin-right: 54px;
	}
	.Familliar,
	.Strong,
	.Experienced {
		margin-bottom: 5px;
	}
	.skills {
		margin-left: 88px;
		margin-right: 88px;
	}
	.skills .last-li {
		margin-bottom: 20px;
	}
}

@media screen and (min-width: 989px) {
	/*skills page*/
	.Familliar {
		margin-right: 5px;
	}
	.Experienced {
		margin-left: 5px;
	}
}

@media (max-width:875px) {
	/*page home*/
	.home_info {
		font-size: 18px;
		border-left: #23b198 1px solid;
	}
	.fsd,
	.wiiajtb,
	.iase {
		width: 722px;
	}
	.home_info .list_info {
		margin-right: 7px;
	}
}

@media screen and (min-width:768px){
	/*nav*/
	.navbar-header .navbar-brand {
		display: none;
		visibility: hidden;
	}
}
@media screen and (max-width: 768px) {
	/*nav*/
	.navbar {
		border-radius: 0;
	}
	.navbar-nav li {
		margin-bottom: 11px;
	}
	
}

@media screen and (min-width:767px) {
	/*Services*/
	.designer,
	.developer {
		margin-top: 35px;
		margin-bottom: 50px;
		font-size: 40px;
	}
}

@media screen and (max-width:767px) {
	/*Services page*/
	.designer,
	.developer {
		font-size: 54px;
	}
	
	/*Contact page*/
	.card-contact .name,
	.card-contact .phone {
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media (max-width:766px) {
	/*home page*/
	.home_info {
		font-size: 24px;
		margin-left: 59px;
		margin-top: 20px;
	}

	.fsd,
	.wiiajtb,
	.iase {
		width: 630px;
		font-size: 30px;
	}

	.home_info .list_info {
		margin-right: 7px;
	}

}


@media screen and (max-width:674px) {
	/*about page*/
	.card-about .lots-paragraph .clean span {
		visibility: hidden;
	}
}

@media screen and (max-width:670px) {
	/*footer*/
	.footer .copy-right .right {
		display: none;
	}
}

@media (max-width:650px) {
	/*page home*/
	.home_info {
		font-size: 21px;
		margin-left: 59px;
		margin-top: 20px;
	}
	.fsd,
	.wiiajtb,
	.iase {
		width: 463px;
		font-size: 24px;
	}

	.home_info .list_info {
		margin-right: 7px;
	}

}

@media screen and (max-width:600px) {
	/*page contcat*/
	.card-contact .message textarea {
		height: 130px;
	}
}

@media (max-width:585px) {
	/*skills page*/
	.skills {
		margin-left: 27px;
		margin-right: 22px;
	}

}

@media (max-width:500px) {
	/*home page*/
	.fa-square {
		padding-right: 9px;
		padding-left: 7px;
	}

	.home_info {
		font-size: 19px;
		margin-left: 9px;
	}
	span.el_info {
		margin-left: 7px;
	}
	.fsd,
	.wiiajtb,
	.iase {
		width: 351px;
		font-size: 24px;
	}
	/*skills page*/
	.skills {
		margin-left: 27px;
		margin-right: 22px;
	}
	
	/*Services page*/
	.address-services .h_page {
		font-size: 22px;
		letter-spacing: 0;
	}
	.address-services .h_page::before {
		top: 44%;
		left: 49px;
		width: 92px
	}
	.address-services .h_page::after {
		top: 64%;
		left: 58px;
		width: 92px;
	}

	.designer,
	.developer {
		margin-left: 7px;
		margin-right: 7px;
		font-size: 40px;
	}

}



@media (max-width:395px) {
	/*home page*/
	.fsd,
	.wiiajtb,
	.iase {
		width: 210px;
	}
	
	.home_image img {
		width: 238px;
	}
	
	.home_info {
		font-size: 16px;
		margin-left: unset;
	}
	.fa-square {
		margin-left: 0px;
	}
	span.el_info {
		margin-left: 4px;
	}


}

@media (max-width:332px) {
	/*home page*/
	.home_info {
		font-size: 14px;
		margin-left: 0px;
	}
		.skills {
		margin-left: 5px;
		margin-right: 5px;
	}
	/*page services*/
	.designer,
	.developer {
		font-weight: bolder;
		font-size: 25px;
	}
}


