input[type=checkbox] {
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	background: rgb(148, 148, 147);
	cursor: pointer;
	text-indent: -9999px;
	width: 90px;
	height: 30px;
	display: block;
	margin-top: 5px;
	border-radius: 100px;
	position: relative;

}

label:after {
	content: '';
	position: absolute;
	top: 6px;
	left: 5px;
	width: 42px;
	height: 22px;
	border-radius: 85px;
	margin-top: -2px;
	transition: 0.7s;
}



input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 130px;
}

.main_switch {
	display: inline-flex;
	overflow: hidden;
}

.sun_icon {
	margin-left: 20px;
	margin-right: 31px;
	margin-top: 4px;
}


.fa-moon {
	margin-left: 12px;
	margin-right: 16px;
	margin-top: 4px;
}
