/*this is theme default for color website */

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #4bd8e6;
    color: fffcfe;
}

.about h1 span {
    color: #4bd8e6;
    font-weight: bold;
}

.glyphicon {
    padding-bottom: 6px;
    margin-bottom: 5px;
    font-size: 22px;
    color: #4bd8e6;

}

h1.our,
.features h2,
h3.visible-xs {
    color: #4bd8e6;
}

.testmonials .carousel-indicators li img {
    max-width: 100%;
    width: 80px;
    height: 80px;
    border: 2px #4bd8e6 solid;
    border-radius: 25% 50%;
    overflow: hidden;

}

.testmonials .carousel-indicators li.active img {

    border: 3px #4bd8e6 solid;
    height: 80px;
    width: 80px;
}

.footer-list h3 {
    color: #4bd8e6;
    font-weight: bold;
}

.option-box .color-option {
    float: right;
    background-color: #4bd8e6;
    color: #fff;
    padding: 1px;
    padding-left: 8px;
    width: 154px;
    display: none;
}


.option-box .star {
    border: solid 1px white;
    padding: 5px;
    background-color: #4bd8e6;
    color: #FFF;
    cursor: pointer;
}

.scroll-to-top:hover {
    background-color: #4bd8e6;
}
.carousel-indicators .active {
    background-color: #4bd8e6;
}
