@font-face {
    font-family: Pacifico;
    src: url('../fonts-google/Pacifico/Pacifico-Regular.ttf');
}

@font-face {
    font-family: Dancing-Bold;
    src: url('../fonts-google/Dancing_Script/Dancing-Bold.ttf');
}

@font-face {
    font-family: Dancing-Regular;
    src: url('../fonts-google/Dancing_Script/Dancing-Regular.ttf');
}

@font-face {
    font-family: HomemadeApple-Regular;
    src: url('../fonts-google/HomemadeApple-Regular.ttf');
}

@font-face {
    font-family: Rochester-Regular;
    src: url('../fonts-google/Rochester-Regular.ttf');
}

@font-face {
    font-family: HomemadeApple-Regular;
    src: url('../fonts-google/HomemadeApple-Regular.ttf');
}
