/*start section of customize-color*/

html {
    margin: 0px;
    padding: 0px;
}

body {
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}

.option-box {
    position: fixed;
    top: 100px;
    left: 0;
    z-index: 1000;
}

.option-box .color-option {
    float: right;
    background-color: #C71B47;
    color: #fff;
    padding: 1px;
    padding-left: 8px;
    width: 154px;
    border-bottom: solid 1px white;
    border-right: solid 1px white;
    border-left: solid 1px white;
    display: none;
    border-radius: 0 25% 25% 0;
}

.option-box .star {
    border: 1px solid white;
    padding: 5px;
    background-color: #C71B47;
    color: #FFF;
    cursor: pointer;
}


.option-box .color-option ul li {
    border-bottom: solid 1px white;
    border-right: solid 1px white;
    border-left: solid 1px white;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 3px;
    cursor: pointer;
}



/*end section of customize-color*/

.container-fluid {
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar {
    position: fixed;
    min-height: 0px;
    margin-bottom: 10px;
    border: 0px;
    z-index: 29998;
    height: 60px;
    width: 100%;
    margin-top: -12px;
}

.dropdown-menu {
    background-color: #9a7d7d;
    color: azure;

}

.dropdown-menu > li > a {
    margin-right: 19px;
    padding: 9px 22px;
    font-weight: normal;
    line-height: 1.418571;
    color: #1f1a0d;
    white-space: nowrap;
    -webkit-transition: padding 0.5s ease;
    -moz-transition: padding 0.5s ease;
    -o-transition: padding 0.5s ease;
    transition: padding 0.5s ease;
}



.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #f7ecec;
    text-decoration: none;
    background-color: #fd1111;
    padding-left: 30px;

}

.navbar-right .dropdown-menu {
    right: auto;
    left: 0;
}

.navbar-right {
    float: right;
    margin-right: 100px;
}

.dropdown-menu {

    min-width: 200px;
}

.container-fluid {
    padding-top: 8px;
    padding-bottom: 8px;

}

.nav > li {

    margin-left: 12px;
}


.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    color: #ffffff;
    font-size: 27px;
}

.navbar-brand {
    font-size: 25px;
}

.navbar-collapse {
    /* margin-right: -15px; */
    margin-left: -15px;
    background: #673d57;
}


.navbar-inverse {
    background-color: #673d57;
    border-color: #080808;
}

/* Start Carowsel Css */

.carousel {
    margin-left: 0px;
    margin-bottom: 15Wpx;
}

.carousel-control {
    text-shadow: 0 1px 2px rgba(0, 0, 0, .2)
}

.carousel-caption {
    right: 20%;
    left: 20%;
    margin-bottom: 9px;
    padding-bottom: 38px;
    padding-left: 28px;
    padding-right: 20px;
    background-color: rgba(67, 88, 75, 0.4);
}

.carousel-control.right {
    margin-top: 60px;
    margin-right: 0px;
    margin-bottom: 18px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .2) 100%)
}

.carousel-control.left {
    margin-top: 60px;
    margin-bottom: 18px;
}

.carousel-control:hover,
.carousel-control:focus {
    color: #fff;
    text-decoration: none;
    filter: alpha(opacity=90);
    outline: 0;
    opacity: 0.4;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    margin-top: 50px;
    padding-bottom: 16px;
    height: 590px;
}



/* End Carowsel Css */

/* Start new Plugins */

.about {
    margin-top: 8px;
    margin-bottom: 5px;
    color: black
}

.about .lead {
    font-size: 25px;
    color: dimgray;
    margin-top: 5px;
}




/* End new Plugins *>


/* Start css of Features */

.features {
    background-color: #EDEDED;

}







h1.our {
    padding-top: 30px;
    padding-bottom: 0px;
}

/* End css of Features */

/* Start css of testmonials */

.testmonials {
    padding-top: 50px;
    padding-bottom: 50px;
}

.testmonials h1.ourCl {
    margin-top: 25px;
    font-weight: :bold;
}

.testmonials .carousel-indicators li {
    background-color: black
}

.testmonials .carousel-indicators {
    position: static;
    width: 100%;
    margin-left: auto;
    padding-top: 20px;
}

.testmonials .lead {
    line-height: 2em;
    margin-bottom: 1px;
}

.testmonials span.commenter {
    font-weight: bold;
    padding-top: 10px;
    margin-top: 5px;
}

.testmonials .carousel-inner {

    min-width: 150px;
}

.testmonials .carousel-indicators li {
    text-indent: 0px;
    height: 80px;
    width: 80px;
    background: none;
    opacity: 0.2;
    margin: 5px;
    -webkit-transition: all 3s ease;
    -moz-transition: all 3s ease;
    -o-transition: all 3s ease;
    transition: all 3s ease;
}

.testmonials .carousel-indicators li.active {
    opacity: 1;
    background: none;
    height: 80px;
    width: 80px;
}







.testmonials .carousel-inner {
    background-color: rgba(29, 31, 33, 0.05);
    padding-bottom: 4px;
    padding-top: 4px;
    padding-right: 10px;
    padding-left: 10px;

}


/* End css of testmonials */

/* Start Css of Box of prices */

.price_table {

    background-color: #EEE;
    padding-top: 8px;
    padding-bottom: 20px;
    margin-top: 70px;

}

.price_table .box_price {
    background-color: #FFF;
    padding: 10px;

    margin-bottom: 10px;
    border: 2px #DDD solid;

}

.price_table .box_price:hover p {
    -webkit-transform: scale(1.1, 1.1)rotate(360deg);
    -moz-transform: scale(1.1, 1.1)rotate(360deg);
    -o-transform: scale(1.1, 1.1)rotate(360deg);
    transform: scale(1.1, 1.1)rotate(360deg);

    border: 3px #DFDFDF solid;
}

.price_table h1 {
    margin-top: 20px;
    margin-bottom: 21px;
    font-weight: bold;
    color: dimgray;
}

.price_table .box_price p {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: darkslategrey;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    line-height: 80px;
    background-color: #DADADA;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
}

.price_table .box_price ul {
    font-size: 16px;
    line-height: 250%;
    text-align: left;

}

.price_table .box_price ul .glyphicon {

    font-size: 20px;
    margin-right: 25px;
}

.price_table .box_price .btn {
    margin-left: 69px;
}


/* End Css of Box of prices */

/* start Css Team */

.parentTeam {
    background: url("../images/team.png") no-repeat center center fixed;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 503px;
}

.parentTeam .team {
    background-color: rgba(2, 2, 2, 0.8);
    width: 100%;
    min-height: 508px;
    padding-bottom: 25px;
    padding-top: 19px;


}

.parentTeam h1 {

    font-size: 36px;

    font-weight: bold;
    color: azure;
}

.parentTeam .field {
    padding-top: 15px;
    color: azure;
}

.parentTeam .field p {
    padding-top: 11px;
    font-size: 1.2em;
}

.parentTeam .field .social {
    margin-top: 29px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 30px;
}

.parentTeam .field .social .facebook {
    color: #3460a1;
}

.parentTeam .field .social .twitter {
    color: #31c0fa
}

.parentTeam .field .social .linkedin {
    color: #0c6891
}

.parentTeam .field .social .instagram {
    color: #f94c46
}

.parentTeam .field .social .google {
    color: #fd5e37
}

.parentTeam h4 {
    font-size: 22px;
    margin-top: 24px;

}

.parentTeam img {
    vertical-align: middle;
    margin-bottom: 0px;
    margin-top: 0px;
}

/* End Css Team */

/* Start Section of subscribe */

.subscribe {
    padding-top: 40px;
    padding-bottom: 70px;
    background-color: #EEE
}

.subscribe h1 {
    color: #888;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.subscribe .btn {
    border-radius: unset;
    margin-left: -5px;
    padding: 14px 15px 17px 0;
}

.subscribe .form-control {
    border-radius: unset;
    width: 350px;
}



.subscribe .fa-edit:before {
    content: "\f044";
    padding-right: 11px;
}

/* End Section of subscribe */

/* Start Section Stats */

.statistics {
    background: url(../images/stats.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 300px;

}

.statistics .stats:hover {
    color: #FFF;
}


.statistics .stats {
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    margin-bottom: 30px;
}

.statistics .data {

    background-color: rgba(2, 2, 2, 0.8);
    color: #B6B5B5;
    min-height: 300px;
    padding-top: 40px;
    padding-bottom: 70px;
}

.statistics h1 {
    margin-bottom: 60px;
    font-weight: bolder;
}

.statistics p {
    font-size: 60px;
    font-weight: bolder;
    margin-bottom: 0px;

}

.statistics span {
    font-size: 17px;
    margin-top: 4px;
    padding-top: 2px;
    padding-bottom: 11px;
}

/* End Section Stats */

/* Start Section Of Progress bar */

.skills {
    padding-top: 22px;
    padding-bottom: 22px;
}

.skills .team-info {
    margin-top: 0px;
}

.skills .team-info h3 {
    margin-top: 0px;
}

.skills .progress {
    height: 31px;
}

.skills .progress-bar {
    line-height: 31px;
    font-weight: bold;
    text-align: left;
    text-indent: 15px;
}

/* End Section Of Progress bar */

/* Start Contact us */

.contact-us {
    background: url("../images/Contact-us.png") no-repeat center center fixed;
    min-height: 400px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 400px;
    margin-top: 30px;



}

.contact-us .data {
    background-color: RGBA(2, 2, 2, 0.6);
    min-height: 400px;
    color: azure;
    padding-top: 30px;
    padding-bottom: 30px;
}

.contact-us .data h2 {
    font-weight: bold;
}

.contact-us .data textarea {
    resize: none;
    height: 105px;
    border: none;
}

.contact-us .data textarea,
input[type="text"] {
    border: none;
    background-color: rgba( 3, 3, 3, 0.7);
    color: #ddd;
}

.contact-us .data .btn-lg {
    border-radius: unset;
}

.hvr-bounce-to-right:before {
    background: #de075f;
}

/* End Contact us */

/*Start our-clients*/

.our-clients {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: darkgrey;

}

.our-clients ul {
    overflow: hidden;
}

.our-clients ul li {
    float: left;
}

.our-clients img {
    opacity: 0.2;
    filter: alpha(opacity=(20));
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.our-clients img:hover {
    opacity: 1
}

/*End our-clients*/

/*Start Footer list */

.footer {
    background-color: #1D1F21;
    padding-top: 15px;
    color: aliceblue;
}



.footer-list ul.col-categories {
    overflow: hidden;
    padding-left: 15px;
    font-size: 17px;
    font-weight: bold;

}


.footer-list ul.col-categories li a {
    color: azure;
    letter-spacing: 3px;
}

.footer-list ul.col-categories li a:hover {
    color: aqua;
    text-decoration: none;
}

/*Icon list img */

.footer .icon-social-list li img {
    opacity: 0.6;
    filter: alpha(opacity='60');
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.footer .icon-social-list li img:hover {
    opacity: 1;
}

.footer .icon-social-list li {
    padding-bottom: 7px;
}

hr {
    margin-bottom: unset;
    margin-top: unset;
    border: 3px;
    border-top: 1px solid #947a7a;
}

.footer .images-awesome img {
    height: 90px;
    width: 118px;
}

.footer .img-thumbnail {
    background-color: #b19c9c;
    border: 1px solid #331b1b;
}

.footer .copyright {
    background-color: #211f1f;
    border: 2px #0e0e0e solid;
    border-radius: 6px;
}

.footer .copyright span {
    color: chartreuse;
    font-size: 26px;
}

.footer .copyright span.right {
    color: #6b1763;
    font-size: 26px;
}

.footer .copyright .lead {
    margin-bottom: unset;
}


/*

.loading-overlay {
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, #ffffff 0%, #aaaaaa 100%);
    position: fixed;
    color: #fff;
    left: 0;
    top: 0;
    z-index: 30000;

}
*/

/* Start css for scroll to top */

.scroll-to-top {
    width: 38px;
    height: 28px;
    color: #ddd;
    background-color: dimgrey;
    text-align: center;
    position: fixed;
    right: 15px;
    bottom: 53px;
    z-index: 29999;
    display: none;
    border: white solid 1px;
    border-radius: 25% 25% 0 0;
}

.scroll-to-top:hover {
    cursor: pointer;
}


/* End css for scroll to top */

/*End Footer list */
